<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- Java interface와 namespace를 맞추어준다. -->
<mapper namespace="org.zerock.mapper.ProductMapper">

<select id="piclist" resultType="org.zerock.domain.ProductPicVO">
	select * from picture where product_id = #{product_id}
</select>
<select id="picCount" resultType="int">
	select count(picture_id) from picture where product_id = #{product_id}
</select>
<select id="read" resultType="org.zerock.domain.ProductVO">
	select * from product where product_id = #{product_id}
</select>
<update id="updateCP">
update product set current_price = #{current_price} where product_id = #{product_id}
</update>
<select id="readCP" resultType="int">
	select current_price from product where product_id = #{product_id}
</select>
</mapper>