<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- Java interface와 namespace를 맞추어준다. -->
<mapper namespace="org.zerock.mapper.ReplyMapper">
<insert id="insert">
insert into tbl_reply (bno, reply, replyer)
	values (#{bno}, #{reply}, #{replyer})
</insert>
<select id="read" resultType="org.zerock.domain.ReplyVO">
select * from tbl_reply where rno = #{rno}
</select>
<delete id="delete">
delete from tbl_reply where rno = #{rno}
</delete>
<update id="update">
update tbl_reply set reply = #{reply} where rno = #{rno}
</update>
<select id="getListWithPaging" resultType="org.zerock.domain.ReplyVO">
select * from tbl_reply where bno = #{bno} order by rno asc limit #{cri.pageStart}, #{cri.amount}
</select>
<select id="getCountByBno" resultType="int">
select count(rno) from tbl_reply where bno = #{bno}
</select>
</mapper>